input[type=button] {
    font-size: 16px;
    background: #216a89;
    border: 1px solid #e5a900;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 214px;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
}